
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Admin_LayoutPage1.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Adminmaster/index"><i class="feather icon-home"></i></a></li>

                                <li class="breadcrumb-item"><a href="#">ChangePassword</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        @using (Html.BeginForm("ChangePassword", "UserRegistration", FormMethod.Post, new { @id = "signupForm" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Old Password</label>
                                    <input type="text" class="form-control" placeholder="Old Password" required name="oldpass">

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">New Password</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="New Password" name="Npass" required>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Confirm Password</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Confirm Password" name="confirmpass" required>

                                </div>

                            </div>
                            


                            <button class="btn  btn-primary" type="submit" name="btnsave">ChangePassword</button>

                        </div>
                        <!-- Input group -->

                    </div>
                    <!-- [ form-element ] end -->
                </div>
                <!-- [ Main Content ] end -->

            </div>
        }
    </div>
</section>


