@model InvestorsCRM.Models.UserLogin
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/Admin_LayoutPage1.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Adminmaster/index"><i class="feather icon-home"></i></a></li>

                                <li class="breadcrumb-item"><a href="#">UserRegistration</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        @using (Html.BeginForm("UserRegistration", "UserRegistration", FormMethod.Post, new { @id = "signupForm" }))
        {
            <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>UserRegistration</h5>
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">User name</label>
                                <input type="text" class="form-control"  placeholder="User name" required name="Username">
                       
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Email ID</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Email ID" name="emailid"  required>
                               
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Contact No</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Contact No"  name="ContactNo" required>

                            </div>
                           
                        </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Password</label>
                            <input type="text" class="form-control" placeholder="Password" required name="password">

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">User Type</label>
                            <select class="form-control" name="FK_Usertype">
                                <option value="0">Select User Type</option>
                                <option values="1">User</option>
                                <option values="2">HR</option>

                            </select>

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom02">Upload Profile</label>
                            <input type="file" class="form-control" id="inputGroupFile01" name="Profile">
                            

                        </div>

                    </div>

                    
                        <button class="btn  btn-primary" type="submit" name="btnsave">Submit </button>
                   
                </div>
                <!-- Input group -->
            
            </div>
            <!-- [ form-element ] end -->
        </div>
        <!-- [ Main Content ] end -->

    </div>
        }
        </div>
</section>

