@model InvestorsCRM.Models.Home
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    
    <div class="auth-wrapper">
@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "signupForm" }))
{
        <div class="auth-content text-center">
            <img src="~/assets/images/HmGreenCity.png" alt="" class="img-fluid mb-4" style="width:105px;">
            <div class="card borderless">
                <div class="row align-items-center ">
                    
                    <div class="col-md-12">
                        <div class="card-body">
                            @if (@TempData["Login"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong> @TempData["Login"]!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                            }
                            <h4 class="mb-3 f-w-400">Login</h4>
                            <a href="#!" class="b-brand">
                                <!-- ========   change your logo hear   ============ -->
                              
                                @*<img src="~/assets/images/logo-icon.png" alt="" class="logo-thumb">*@
                            </a>
                            <hr>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.LoginID, new { @Placeholder = "Login Id", @required = "required", @class = "form-control" })
                                
                            </div>
                            <div class="form-group mb-4">
                                @Html.PasswordFor(m => m.Password, new { @Placeholder = "Psssword", @required = "required", @class = "form-control" })
                               
                            </div>
                         
                            <button class="btn btn-block btn-primary mb-4" type="submit" name="btnsave">Signin</button>
                            <hr>
                            <p class="mb-2 text-muted">Forgot password? <a href="/home/ForgetPassword" class="f-w-400">Reset</a></p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
    </div>
    <!-- [ auth-signin ] end -->
    <!-- Required Js -->
    <script src="assets/js/vendor-all.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/pcoded.min.js"></script>



</body>

</html>