@model InvestorsCRM.Models.Master
@{
    ViewBag.Title = "ProjectMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
@using (Html.BeginForm("ProjectMaster", "Master", FormMethod.Post, new { @id = "SignUpForm", ecntype = "multipart/form-data" }))
{
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">



                            <div class="page-header-title">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Master/index"><i class="feather icon-home"></i></a></li>

                                    <li class="breadcrumb-item"><a href="#">Add Project</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.HiddenFor(m => m.FK_ProjectID)
                    <div class="card">
                        @if (@TempData["Error"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="float:right">
                                <strong> @TempData["Error"]!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        }
                        <div class="card-header">
                            <h5>ProjectMaster</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Project Name</label>
                                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", @placeholder = "Project Name", @required = "required" })

                                </div>
                            </div>
                            @if (Model.FK_ProjectID != null)
                            {
                                <input type="submit" value="Update " class="btn btn-success" name="btnUpdate" />

                            }
                            else
                            {


                                <input type="submit" name="btnsave" text="Save" class="btn btn-primary" value="Save" />
                            }

                            <a href="/Master/ProjectMaster" class="btn btn-dark">Reset</a>
                            <a href="/Master/ProjectList" class="btn btn-info">Back To List</a>
                        </div>
                        <!-- Input group -->

                    </div>
                    <!-- [ form-element ] end -->
                </div>
                <!-- [ Main Content ] end -->

            </div>
        </div>
    </section>
}


