<!DOCTYPE html>
<html>
<head>
    <title>@Session["Username"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Phoenixcoded">
    <meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/assets/pages/menu-search/css/component.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pages/data-table/css/buttons.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/pages/data-table/extensions/buttons/css/buttons.dataTables.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--color css-->
    @*<link rel="stylesheet" type="text/css" href="~/assets/css/color/color-1.css" id="color" />*@
</head>
<body>
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <nav class="navbar header-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a class="mobile-menu" id="mobile-collapse" href="#!">
                    <i class="ti-menu"></i>
                </a>
                <a class="mobile-search morphsearch-search" href="#">
                    <i class="ti-search"></i>
                </a>
                <a href="/Master/index">
                    @*<img src="~/assets/images/HmGreenCity.png" width="100" alt="" class="logo">*@
                    <i class="fa fa-user" style="font-size:36px"></i>
                    <span>@Session["Username"]</span>
                </a>
                <a class="mobile-options">
                    <i class="ti-more"></i>
                </a>
            </div>
            <div class="navbar-container container-fluid">
                <div>
                    <ul class="nav-left">
                        <li>
                            <a id="collapse-menu" href="#">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                        <li>
                            <a class="main-search morphsearch-search" href="#">
                                <!-- themify icon -->
                                <i class="ti-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav-right">

                        @*<li class="header-notification">
                                <a href="#!">
                                    <i class="ti-bell"></i>
                                    <span class="badge">5</span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="~/assets/images/user.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="~/assets/images/user.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="d-flex align-self-center" src="~/assets/images/user.png" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-notification">
                                <a href="#!" class="displayChatbox">
                                    <i class="ti-comments"></i>
                                    <span class="badge">9</span>
                                </a>
                            </li>*@
                        <li class="user-profile header-notification">
                            <a href="#!">
                                @*<img src="~/assets/images/user.png" alt="User-Profile-Image">*@
                                <i class="fa fa-user"></i>
                                <span>@Session["Username"]</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li>
                                    <a href="/Master/ChangePassword">
                                        <i class="ti-settings"></i> Change Password
                                    </a>
                                </li>
                                @*<li>
                                        <a href="user-profile.html">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>*@
                                <li>
                                    <a href="#!">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- search -->
                   
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu header end -->
    <!-- Menu aside start -->
    <div class="main-menu">
        <div class="main-menu-header">
            <img src="~/assets/images/HmGreenCity.png" width="100" alt="" class="logo" style="background-color: white;margin-left: 38px;">
        </div>
        <div class="main-menu-content">
            <ul class="main-navigation">
                <li class="more-details">
                    <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                    <a href="#!"><i class="ti-settings"></i>Settings</a>
                    <a href="#!"><i class="ti-layout-sidebar-left"></i>Logout</a>
                </li>
                @*<li class="nav-title" data-i18n="nav.category.navigation">
                        <i class="ti-line-dashed"></i>
                        <span>Navigation</span>
                    </li>*@
                <li class="nav-item">
                    <a href="">
                        <i class="ti-home"></i>
                        <span data-i18n="nav.dash.main">Dashboard</span>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="#!">
                        <i class="ti-layout"></i>
                        <span data-i18n="nav.page_layout.main">Master</span>
                        @*<label class="label label-warning menu-caption">NEW</label>*@
                    </a>
                    <ul class="tree-1">
                        <li><a href="/Master/ProjectMaster">Project</a></li>
                        <li><a href="/Master/CompanyMaster">Company</a></li>
                        <li><a href="/Master/DesignationMaster">Designation</a></li>
                        <li><a href="/Master/PLanMaster">Plan</a></li>
                        @*<li><a href="http://html.phoenixcoded.net/flatable/ltr/bottom-menu/menu-bottom.html" data-i18n="nav.page_layout.bottom-menu"> Bottom Menu</a></li>
                            <li><a href="box-layout.html" target="_blank" data-i18n="nav.page_layout.box-layout"> Box Layout</a></li>
                            <li>
                                <a href="menu-rtl.html" target="_blank" data-i18n="nav.page_layout.rtl">RTL</a>
                            </li>*@
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#!">
                        <i class="ti-layout-cta-right"></i>
                        <span data-i18n="nav.navigate.main">User Master</span>
                    </a>
                    <ul class="tree-1">
                        <li><a href="/Master/Registration" data-i18n="nav.navigate.navbar">User Registration</a></li>
                        <li><a href="/Master/RegistrationList" data-i18n="nav.navigate.navbar">User List</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#!">
                        <i class="ti-layout-grid2-alt"></i>
                        <span data-i18n="nav.basic-components.main">Investor</span>
                    </a>
                    <ul class="tree-1">
                        <li><a href="/Admin/InvestorRegistration">Investor Registration</a></li>
                        <li><a href="/Master/InvestorList">Investor List</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#!">
                        <i class="ti-crown"></i>
                        <span data-i18n="nav.advance-components.main">Investment</span>
                    </a>
                    <ul class="tree-1">
                        <li><a href="/Investment/InvestmentForm">Investment</a></li>
                        <li>
                            <a href="/Investment/InvestmentList">
                                Investment
                                List
                            </a>
                        </li>


                    </ul>
                </li>

                @*<li class="nav-title" data-i18n="nav.category.app">
                        <i class="ti-line-dashed"></i>
                        <span>App</span>
                    </li>
                    <li class="nav-item single-item">
                        <a href="chat.html">
                            <i class="ti-comments"></i>
                            <span data-i18n="nav.chat.main"> Chat</span>
                        </a>
                    </li>
                    <li class="nav-item single-item">
                        <a href="crm-contact.html">
                            <i class="ti-layout-list-thumb"></i>
                            <span data-i18n="nav.crm-contact.main"> CRM Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-dribbble"></i>
                            <span data-i18n="nav.social.main">Social</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="fb-wall.html" data-i18n="nav.social.fb-wall">Fb Wall</a></li>
                            <li><a href="message.html" data-i18n="nav.social.messages">Messages</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-check-box"></i>
                            <span data-i18n="nav.task.main">Task</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="task-list.html" data-i18n="nav.task.task-list">Task List</a></li>
                            <li><a href="task-board.html" data-i18n="nav.task.task-board">Task Board</a></li>
                            <li><a href="task-detail.html" data-i18n="nav.task.task-detail">Task Detail</a></li>
                            <li><a href="issue-list.html" data-i18n="nav.task.issue list">Issue List</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-notepad"></i>
                            <span data-i18n="nav.to-do.main">To-Do</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="todo.html" data-i18n="nav.to-do.todo">To-Do</a></li>
                            <li><a href="notes.html" data-i18n="nav.to-do.notes">Notes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-gallery"></i>
                            <span data-i18n="nav.gallery.main">Gallery</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="gallery-grid.html" data-i18n="nav.gallery.gallery-grid">Gallery-Grid</a></li>
                            <li><a href="gallery-masonry.html" data-i18n="nav.gallery.masonry-gallery">Masonry Gallery</a></li>
                            <li><a href="gallery-advance.html" data-i18n="nav.gallery.advance-gallery">Advance Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-search"></i>
                            <span data-i18n="nav.search.main">Search</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="search-result.html" data-i18n="nav.search.simple-search">Simple Search</a></li>
                            <li><a href="search-result2.html" data-i18n="nav.search.grouping-search">Grouping Search</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-medall-alt"></i>
                            <span data-i18n="nav.job-search.main">Job Search</span>
                            <label class="label label-danger menu-caption">NEW</label>
                        </a>
                        <ul class="tree-1">
                            <li><a href="job-card-view.html" data-i18n="nav.job-search.card-view">Card View</a></li>
                            <li><a href="job-details.html" data-i18n="nav.job-search.job-detailed">Job Detailed</a></li>
                            <li><a href="job-find.html" data-i18n="nav.job-search.job-find">Job Find</a></li>
                            <li><a href="job-panel-view.html" data-i18n="nav.job-search.job-panel-view">Job Panel View</a></li>
                        </ul>
                    </li>
                    <li class="nav-title" data-i18n="nav.category.extension">
                        <i class="ti-line-dashed"></i>
                        <span>Extension</span>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-pencil-alt"></i>
                            <span data-i18n="nav.editor.main">Editor</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="ck-editor.html" data-i18n="nav.editor.ck-editor">CK-Editor</a></li>
                            <li><a href="wysiwyg-editor.html" data-i18n="nav.editor.wysiwyg-editor">WYSIWYG Editor</a></li>
                            <li><a href="ace-editor.html" data-i18n="nav.editor.ace-editor">Ace Editor</a></li>
                            <li><a href="summernote.html" data-i18n="nav.editor.summer-note-editor">Summer Note Editor</a></li>
                            <li><a href="long-press-editor.html" data-i18n="nav.editor.long-press-editor">Long Press Editor</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#!">
                            <i class="ti-layout-media-right"></i>
                            <span data-i18n="nav.invoice.main">Invoice</span>
                        </a>
                        <ul class="tree-1">
                            <li><a href="invoice.html" data-i18n="nav.invoice.invoice">Invoice</a></li>
                            <li><a href="invoice-summary.html" data-i18n="nav.invoice.invoice-summery">Invoice Summary</a></li>
                            <li><a href="invoice-list.html" data-i18n="nav.invoice.invoice-list">Invoice List</a></li>
                        </ul>
                    </li>*@

            </ul>
        </div>
    </div>
    <!-- Menu aside end -->
    <!-- Sidebar chat start -->
    <div id="sidebar" class="users p-chat-user showChat">
        <div class="had-container">
            <div class="card card_main p-fixed users-main">
                <div class="user-box">
                    <div class="card-block">
                        <div class="right-icon-control">
                            <input type="text" class="form-control  search-text" placeholder="Search Friend">
                            <div class="form-icon">
                                <i class="icofont icofont-search"></i>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar inner chat end-->

    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-header-title">
                    
                </div>
                @RenderBody()

            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/bower_components/tether/dist/js/tether.min.js"></script>
    <script type="text/javascript" src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- classie js -->
    <script type="text/javascript" src="~/bower_components/classie/classie.js"></script>
    <!-- data-table js -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="~/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/jszip.min.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/pages/data-table/extensions/buttons/js/pdfmake.min.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>

    <script src="~/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript" src="~/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
    <!-- Custom js -->
    <script src="~/assets/pages/data-table/extensions/buttons/js/extension-btns-custom.js"></script>
    <script type="text/javascript" src="~/assets/js/script.js"></script>
</body>
</html>
